h1 span { color: #ffb03b;
font-size: 40px;
font-style: italic;
font-weight: bolder;}
body { background-color: rgb(248, 159, 126);}
p.destacado {font-size: 50px;
    font-family: 'Franklin Gothic Medium';
    font-style: italic;
    font-weight: bold;
margin-left: 250PX;
}
